:root {
  --tenne-tawny: #00b4d8;
  --tenne-tawny-dark: #0077b6;
}

.btn {
  padding: unset;
}

.hero .content h1 {
  position: relative;
  z-index: 0;
  font-size: 1.5rem;
}
.meal-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  text-align: center;
}
.meal-search {
  margin: 2rem 0;
}
.meal-search-box {
  margin: 1.2rem auto;
  display: flex;
  align-items: stretch;
}
.search-control,
.search-btn {
  width: 100%;
}
.search-control {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid var(--tenne-tawny);
  color: var(--tenne-tawny);
}
.search-control::placeholder {
  color: var(--tenne-tawny);
}
.search-btn {
  width: 8rem;
  height: 3rem;
  font-size: 1.5rem;
  background: var(--tenne-tawny);
  color: #fff;
}

#meal {
  margin: 2rem 0;
}
.meal-item {
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
}
.meal-img img {
  width: 100%;
  display: block;
}
.meal-name {
  padding: 1.5rem 0.5rem;
}
.meal-name h3 {
  font-size: 1.5rem;
}
.recipe-btn {
  text-decoration: none;
  color: #fff;
  background: var(--tenne-tawny);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  display: block;
  width: 10rem;
  margin: 1rem auto;
}
.recipe-btn:hover {
  background: var(--tenne-tawny-dark);
}

/* meal details pop up*/
.meal-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: var(--tenne-tawny);
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
}

/* js related */
.showRecipe {
  display: block;
}

.meal-details-content {
  margin: 2rem;
}

.recipe-close-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  left: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  color: black;
}
.recipe-title {
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.recipe-category {
  background: #fff;
  font-weight: 600;
  color: var(--tenne-tawny);
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

.recipe-instruct {
  padding: 1rem 0;
}
.recipe-meal-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.recipe-link {
  margin: 1.4rem 0;
}
.recipe-link a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
}
.recipe-link a:hover {
  opacity: 0.8;
}

/*  */
.notFound {
  grid-template-columns: 1fr !important;
  color: var(--tenne-tawny);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

/* Media Queries */
@media (min-width: 600px) {
  .meal-search-box {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .hero .content h1 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .meal-item {
    margin: 0;
  }
  .meal-details {
    width: 700px;
  }
}

@media (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(4, 1fr);
  }
}
